.container{
    text-align: center;
    padding: 40px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card{
    width: 300px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);
    transition: 0.3s;
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}