.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E2F;
    color: white;
    padding: 15px 40px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
.menu li{
    cursor: pointer;
    transition: 0.3s;
}
.menu li:hover{
    color: bisque;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}